
.hero {
    display: flex;
    background-color: var(--block-one-bkc);
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../image/hero-bckgr-compressed.jpeg);
    
     @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../image/background/hero-mobile-@2x-960.jpg);
    }
    
    @media (min-width: 768px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../image/background/hero-tablet-768.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../image/background/hero-tablet-@2x-1536.jpg);
        }
    }
    
    @media (min-width: 1200px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../image/background/hero-desktop-1600.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../image/background/hero-desktop-@2x-3200.jpg);
        }
    }

       

}


.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-back-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}





