.list-navi {
    display: flex;
    align-items: center;
}

.list-navi__data {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--speed) var(--duration);

    &:focus,
    &:hover {
        color: var(--button-hover-color);
    }
}

.list-navi__data--current {
    color: var(--button-hover-color);
}

.list-navi__data--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background: var(--top-logo-color-left);
}

.list-navi__item {
    justify-content: center;
    display: flex;

    &:not(:last-child) {
        position: relative;
        margin-right: 50px;
    }
}